// Riziki Brand Colors Variables
$riziki-light-green: #68b05a;
$riziki-dark-green: #6b9b3b;
$riziki-light-orange: #e0c337;
$riziki-dark-orange: #e29a30;
$riziki-magenta: #cb2229;
$riziki-earth-brown: #5e401b;

// Status Colors Variables
$success: #39832a;
$warning: #c4aa2a;
$danger: #cb2229;
$info: #17a2b8;
$success-light: #d5ffccec;
$warning-light: #ffefc9e2;
$danger-light: #ffd0ccea;

// Other Colors
$white: #ffffff;
$black: #000000;
$dark: #333333;
$dark-gray: #666666;
$gray: #999999;
$off-white: #e6e3e3;
$light-green: #d9fad2;
