.side-menu {
  background-color: $riziki-light-orange;
  max-width: 80vw;
  .offcanvas-header {
    background-color: $riziki-light-green;
  }
}

.side-menu-options {
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
    svg {
      font-size: 1.7rem;
    }
  }
}
