.transaction-status {
  border-radius: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.transaction-status--cancelled {
  color: $danger;
  background-color: $danger-light;
}

.transaction-status--completed {
  color: $success;
  background-color: $success-light;
}

.transaction-status--pending {
  color: $warning;
  background-color: $warning-light;
}
